<ion-view title="Welcome!">
    <ion-content>

      <a href = "#/signup" class="button button-positive" style="width: 100%; margin: 20px 0;">
        Sign Up
      </a>

      <a href = "#/signin" class="button button-positive" style="width: 100%; margin: 20px 0;">
        Sign In
      </a>

      <a href = '#/inputData' class="button button-positive" style="width: 100%; margin: 20px 0;">
        Input Data
      </a>

      <a href = '#/getData' class="button button-positive" style="width: 100%; margin: 20px 0;">
        Get Data
      </a>

      <a href = '#/addBook' class="button button-positive" style="width: 100%; margin: 20px 0;">
        Add Book
      </a>

      <a href = '#/getBook' class="button button-positive" style="width: 100%; margin: 20px 0;">
        Get Book
      </a>

    </ion-content>
</ion-view>
